:root {
  --primary-500: #20B486;
  --primary-900: #06241B;
  --secondary-500: #FFC27A;
  --gray-100: #CFD3D6;
  --gray-500: #6D737A;
}


/* common css */
body {
  position: relative;
  overflow-x: hidden;
}

footer {
  padding: 100px 0px 50px;
}

@media (min-width: 600px) {
  .slider-container {
    max-width: 600px;
  }
}

@media (min-width: 728px) {
  .slider-container {
    max-width: 728px;
  }
}

@media (min-width: 920px) {
  .slider-container {
    max-width: 920px;
  }
}

@media (min-width: 980px) {
  .slider-container {
    max-width: 980px;
  }
}

@media (min-width: 1320px) {
  .slider-container {
    max-width: 1320px;
  }
  .slider-container.extra-width{
    max-width: 1400px;
  }
}
.slider-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.swiper-slide:first-child{
  padding-left: 20px !important;
}

.section-padding {
  padding: 100px 0px;
}

.btn-primary {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  text-align: center;
  padding: 12px 20px;
  border: 1px solid var(--primary-500);
  border-radius: 8px !important;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.btn-primary span {
  display: inline-flex;
  position: relative;
  color: white;
  z-index: 999;
}

.btn-primary::before {
  position: absolute;
  content: "";
  background-color: var(--primary-500);
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  z-index: 5;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.btn-primary:hover::before {
  width: 0%;
}

.btn-primary:hover span {
  color: var(--primary-500);
}

.course-item:hover.link svg {
  background: black;
}

.after-svg {
  position: relative;
}

.after-svg:after {
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  overflow: hidden;
}

.after-svg.instructor:after {
  content: url('/assets/img/svg/instructor-svg.svg');
}

.after-svg.popular:after {
  content: url('/assets/img/svg/popular-svg.svg');
}

.after-svg.banner_5000:after {
  content: url('/assets/img/svg/banner_5000.svg');
}

.after-svg.banner_300:after {
  content: url('/assets/img/svg/banner_300.svg');
}

.after-svg.achievement:after {
  content: url('/assets/img/svg/achievement-svg.svg');
}

.after-svg.feedback:after {
  content: url('/assets/img/svg/feedback-svg.svg');
}

.header-sticky {
  position: fixed !important;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 7%);
  z-index: 99;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0px 4px 10px rgb(3 4 28 / 10%);
  box-shadow: 0px 4px 10px rgb(3 4 28 / 10%);
  background: white;
}

.menu-link,
.nav-link {
  position: relative;
}

.menu-link::after,
.menu-link::before,
.nav-link::after,
.nav-link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: .5s;
}

.menu-link::after,
.nav-link::after {
  top: 0px;
  left: 0px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.menu-link::before,
.nav-link::before {
  bottom: 0px;
  right: 0px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.menu-link:hover::after,
.menu-link:hover::before,
.nav-link:hover::after,
.nav-link:hover::before {
  width: 30px;
  height: 30px;
  border-color: var(--primary-500);
}

.nav-link:hover {
  padding: 6px 12px;
}

/* mobile menu css */
.hamburger-btn span {
  display: inline-block;
  background: var(--gray-500);
  height: 2px;
  width: 25px;
  opacity: 1;
  z-index: 1;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.hamburger-btn:hover span {
  background: var(--primary-500);
}

.nav-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  -webkit-transform: translateX(calc(100% + 80px));
  -moz-transform: translateX(calc(100% + 80px));
  -ms-transform: translateX(calc(100% + 80px));
  -o-transform: translateX(calc(100% + 80px));
  transform: translateX(calc(100% + 80px));
  background: white none repeat scroll 0 0;
  -webkit-transition: transform 0.45s ease-in-out,
    opacity 0.45s ease-in-out;
  -moz-transition: transform 0.45s ease-in-out,
    opacity 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out,
    opacity 0.45s ease-in-out;
  z-index: 999;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scrollbar-width: none;
  z-index: 9999999;
  background-color: white;
}

.nav-menu.open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.overlay {
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.overlay.open {
  opacity: 0.7;
  visibility: visible;
}

/* instructor card css */
.instructor-card {
  position: relative;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}

.instructor-card:hover {
  box-shadow: 0px 30px 30px rgb(13 18 30 / 8%);
  transform: translateY(-20px);
}

.instructor-card img {
  position: relative;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}

.instructor-card:hover img {
  transform: scale(1.2);
}

.instructor-card h2 {
  position: relative;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}

.instructor-card:hover h2 {
  color: var(--primary-500);
}

/* testimonial card css */
.testimonial-card {
  position: relative;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}

.testimonial-card:hover {
  transform: translateY(-15px);
}

/* swipper slider css */
.testimonialSwipper .swiper-slide{
  padding: 50px;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: -35px;
  z-index: 9;
}

.swiper-pagination-bullet {
  background: var(--gray-100);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--primary-500);
}

.swiper-button-prev,
.swiper-button-next {
  bottom: -45px;
  top: auto;
  background: var(--primary-500);
  box-shadow: -4px 4px 20px rgba(32, 180, 134, 0.12);
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 24px;
  color: white;
}

.swiper-button-disabled {
  background: white;
  box-shadow: -4px 4px 20px rgba(32, 180, 134, 0.12);
  border-radius: 8px;
  color: var(--primary-900);
}

.swiper-button-next {
  right: 50px;
  left: auto;
}

.swiper-button-prev {
  right: 110px;
  left: auto;
}

/* footer link css */
.footer-link {
  position: relative;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
}

.footer-link:hover {
  color: var(--primary-500);
  padding-left: 25px;
}

.footer-link:after {
  position: absolute;
  left: 0;
  top: 12px;
  content: "";
  width: 20px;
  height: 2px;
  opacity: 0;
  visibility: hidden;
  background-color: var(--primary-500);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}

.footer-link:hover::after {
  opacity: 1;
  visibility: visible;
}

/* course area */
.course-card img {
  transition: all .5s ease-in-out;
}

.course-card {
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.course-card:hover {
  box-shadow: 0px 0px 72px rgba(0, 0, 0, 0.08);
  transform: translateY(-10px);
}

.course-card:hover img {
  transform: scale(1.1);
}

.course-card .link {
  transition: all .5s ease-in-out;
}

.course-card .badge {
  transition: all .5s ease-in-out;
}

.course-card:hover .badge {
  background-color: var(--primary-500);
  color: white;
  backdrop-filter: blur(10px);
}

.course-card:hover .link {
  background-color: var(--primary-500);
  transition: all .5s ease-in-out;
}

.course-card:hover .link svg path {
  stroke: #fff;
}

/* course end */


/* category start */

.category-card {
  border: 1px solid transparent;
  overflow: hidden;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}

.category-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 1px solid var(--primary-500);
}

.category-card:hover .left-icon svg path {
  stroke: black;
}

.category-card:hover .right-icon {
  background-color: var(--primary-500);
  border-radius: 8px;
  color: white;
}

/* category end */